body{
    background: url('../images/sky.gif');
    -webkit-transition: all 0.1s linear;
}
#ship {
    -webkit-transition: all 0.1s linear;
}
.ship-container{
    position: absolute;
    top: 50%;
    left: 50%;
    display: inline-block;
    -webkit-transform: rotateZ(-90deg);
}